<%= form_for([:admin, @article]) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form card white">
	  <div class="card-content">
	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :content %><br>
		<%= f.text_area :content , class: "materialize-textarea" %>
	</div>
	<div class="actions">
		<%= f.submit "Save article" ,class: "btn waves-effect waves-light blue black-text" %>
		<% if !@article.published? %>
			<%= f.submit "Publish", name: "publish", class: "btn waves-effect waves-light green accent-3 black-text" %>
		<% end %>
	</div>
	</div>
  </div>
<% end %>
