<div class="clear"></div>
<div class="qng-container" id="wrap">
	<div class="content" id="content">
		<a style="display:block"><%= image_tag('1.jpg')%></a>
		<a><%= image_tag('2.jpg')%></a>
		<a><%= image_tag('3.jpg')%></a>
		<a><%= image_tag('4.jpg')%></a>
	</div>
	<div class="item" id="focus">
		<a class="active"></a>
		<a></a>
		<a></a>
		<a></a>
	</div>
</div>
<div class="clear_line"></div>
<div class="qng_lcmenue">
	<li>
		<div class="qng_lcmelb"></div>
		<div class="qng_lcmecent"><%= image_tag('qn_logo.png')%></div>
		<div class="qng_lcmelb"></div>
	</li>
</div>
<div class="qng_lc"><%= image_tag('aboutus.jpg') %></div>	
<div class="qng_xmbox">
	<li></li>
</div>
</div>
