<div class="admin">
	<h1 id="login-head">Admin panel Login </h1>
	<div class="row s12 m6">
		<div class="card white">
			<div class="card-content black-text">
				<%= form_for(:base, url: admin_login_path) do |f|%>
					<div class="field">
						<strong><%= f.label :username %></strong></br>
						<%= f.text_field :username%>
					</div>
					<div class="field">
						<strong><%= f.label :password %></strong></br>
						<%= f.password_field :password %>
					</div>
					<%= f.submit "Log in", class: "btn blue" %>
					<% flash.each do |key,value| %>
						<div class="flash flash-<%= key %>"><%= value %></div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
