<!DOCTYPE html>
<html>
<head>
	<title>WebTool</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="login">
		<div class="container">
		<%= yield %>
		<% if Rails.env.development? %>
			<div class="debug-box card black white-text">
				<%= debug(params) %>
			</div>
		<% end %>
		</div>
	</div>
</body>
</html>
