<!DOCTYPE html>
<html>
	<head>
		<title>青鸟归官方网站</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="HandheldFriendly" content="true" />
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	<div class="qng_layout">
		<div class="qng_dh">
			<div class="qng_logo"><%= image_tag "logo.jpg" , alt: "logo" %></div>
			<div class="qng_dhnav">
				<div class="qng_dhbox">
					<% topnavpages = Page.where(useage: "topnav") %>
					<ul>
					<% topnavpages.each do |tnp| %>
						<li><%= link_to tnp.title, page_path(tnp.title) %></li>
						<% if !(topnavpages.last.id == tnp.id) %>
							<div class= "qng_dhfg"> | </div>
						<% else %>
							<div class= "qng_dhfg"> </div>
						<%end%>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
		<%= yield %>
			<% if Rails.env.development? %>
			<div class="debug-box card black white-text">
				<%= debug(params) %>
		
			</div>
		<% end %>
		</div>
	</body>
</html>
